:root {
  --font-primary: 'Gloria Hallelujah', cursive;
  --color-black: #444444;
}

@keyframes title-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes icon-shake-1 {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes icon-shake-2 {
  0% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  10% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  20% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  30% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  60% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  70% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  100% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
}

@keyframes icon-shake-3 {
  0% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  10% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  20% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  50% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  80% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  90% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
}

@keyframes icon-shake-4 {
  0% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  10% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  20% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  30% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  60% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  100% {
    transform: translate(2px, 2px) rotate(0deg);
  }
}

@keyframes tada {
  to {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

body {
  font-family: var(--font-primary);
}

h2 {
  font-size: 2vmin;
  color: var(--color-black);
  font-weight: 400;
}

.range-slider {
  margin-top: 0.5rem;
}

.range-slider__slider {
  width: 70%;
  -webkit-appearance: none;
  border-top: 2px solid var(--color-black);
  transform: rotate(1deg);
  height: 0.1rem;
}

.range-slider__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 4vmin;
  width: 4vmin;
  background: url("/images/thumb.gif");
  background-size: 4vmin;
  background-repeat: no-repeat;
  background-position: center;
}

.range-slider__slider:focus, .range-slider__slider:active {
  outline: none;
}

.container-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img__img {
  display: block;
  width: 100vw;
  height: 74.57vw;
  max-height: 99vh;
  max-width: 134.09vh;
}

.container {
  position: absolute;
  width: 85%;
  height: 81%;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr 3fr 1fr;
}

.title {
  padding-top: 6vmin;
  padding-bottom: 5vmin;
  grid-row: 1 / 1;
  grid-column: 1 / 4;
}

.title__svg {
  width: 45%;
}

.grid-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.grid-container__grid {
  width: 35vmin;
  height: 35vmin;
  background: #fff;
  border: solid var(--color-black);
  border-color: var(--color-black);
  border-width: 5px 3px 3px 5px;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  transform: rotate(2deg);
  margin: 0 auto;
}

@media (min-width: 600px) {
  .grid-container__grid {
    width: 40vmin;
    height: 40vmin;
  }
}

@media (min-width: 800px) {
  .grid-container__grid {
    width: 55vmin;
    height: 55vmin;
  }
}

.tools-container {
  margin: 0 auto;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  animation: tada 1s forwards 4s;
}

.tools-container img {
  height: 10vmin;
  width: auto;
}

.tools-container__pencil {
  animation: icon-shake-1 1.25s steps(1) infinite;
}

.tools-container__eraser {
  animation: icon-shake-2 1.25s steps(1) infinite;
}

.tools-container__color-picker {
  animation: icon-shake-3 1.25s steps(1) infinite;
}

.buttons-container {
  margin: 0 auto;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buttons-container__btn-svg {
  width: 100%;
  height: auto;
}

.buttons-container__color-btn {
  position: relative;
}

.buttons-container__color-btn h2 {
  position: absolute;
  top: 0.5vmin;
  right: 2vmin;
}

.buttons-container__radio-btn {
  width: 3vmin;
}

.buttons-container__radio-btn--1 {
  animation: icon-shake-2 1.25s steps(1) infinite;
}

.buttons-container__radio-btn--2 {
  animation: icon-shake-3 1.25s steps(1) infinite;
}

.buttons-container__radio-btn--3 {
  animation: icon-shake-1 1.25s steps(1) infinite;
}

.buttons-container__radio-btn--4 {
  animation: icon-shake-4 1.25s steps(1) infinite;
}

.buttons-container label {
  display: flex;
  align-items: center;
}

.buttons-container label h2 {
  margin-left: 4vmin;
}

/* HIDE RADIO */
[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type='radio'] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type='radio']:checked + img {
  background-image: url("/images/checked.png");
  background-size: contain;
}
/*# sourceMappingURL=main.css.map */