:root {
  --font-primary: 'Gloria Hallelujah', cursive;
  --color-black: #444444;
}

@keyframes title-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes icon-shake-1 {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes icon-shake-2 {
  0% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  10% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  20% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  30% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  60% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  70% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  100% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
}

@keyframes icon-shake-3 {
  0% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  10% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  20% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  50% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  80% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  90% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
}

@keyframes icon-shake-4 {
  0% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  10% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  20% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  30% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  60% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  100% {
    transform: translate(2px, 2px) rotate(0deg);
  }
}

@keyframes tada {
  to {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  user-select: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

body {
  font-family: var(--font-primary);
}

h2 {
  font-size: 3vmin;
  color: var(--color-black);
  font-weight: 400;
}

.range-slider {
  align-self: center;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.range-slider__slider {
  width: 70%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-top: 2px solid var(--color-black);
  transform: rotate(1deg);
  height: 0.1rem;
}

.range-slider__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 4vmin;
  width: 4vmin;
  background: url("../images/thumb.gif");
  background-size: 4vmin;
  background-repeat: no-repeat;
  background-position: center;
}

.range-slider__slider::-moz-range-thumb {
  -moz-appearance: none;
  border: none;
  height: 4vmin;
  width: 4vmin;
  background: url("../images/thumb.gif");
  background-size: 4vmin;
  background-repeat: no-repeat;
  background-position: center;
}

.range-slider__slider:focus, .range-slider__slider:active {
  outline: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  background-color: white;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.modal__svg {
  max-width: 95%;
}

.modal.visible {
  display: flex;
}

.container-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img__img {
  display: block;
  width: 100vw;
  height: 74.57vw;
  max-height: 99vh;
  max-width: 134.09vh;
}

.container {
  position: absolute;
  width: 85%;
  height: 81%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr 3fr 1fr;
}

.title {
  padding-top: 6vmin;
  padding-bottom: 2vmin;
  grid-row: 1 / 1;
  grid-column: 1 / 4;
}

.title__svg {
  width: 45%;
}

.grid-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.grid-container__grid {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  width: 77.9%;
  height: 90%;
  background: #fff;
  border: solid var(--color-black);
  border-color: var(--color-black);
  border-width: 5px 3px 3px 5px;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  margin: 0 auto;
  display: grid;
  overflow: hidden;
}

.grid-container__grid-div {
  border: 1px solid #f3f3f3;
}

.grid-container__grid-size {
  font-size: 3vmin;
  grid-row: 3 / 4;
}

.grid-container__grid-size--left {
  grid-column: 1 / 2;
}

.grid-container__grid-size--right {
  grid-column: 3 / 4;
}

.tools-container {
  margin: 0 auto;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.tools-container img {
  height: 10vmin;
  width: auto;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.tools-container img.active {
  animation: icon-shake-1 1.25s steps(1) infinite;
  opacity: 1;
}

.buttons-container {
  position: relative;
  margin: 0 2vmin;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buttons-container__color-btn {
  position: relative;
}

.buttons-container__input-color {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.buttons-container__btn-svg {
  width: 100%;
  height: auto;
}

.buttons-container__radio-btn-container {
  transition: opacity 0.3s ease-in-out;
}

.buttons-container__radio-btn {
  width: 3vmin;
}

.buttons-container label {
  display: flex;
  align-items: center;
}

.buttons-container label h2 {
  margin-left: 4vmin;
}

[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type='radio'] + img {
  cursor: pointer;
}

[type='radio']:checked + img {
  background-image: url("../images/checked.png");
  background-size: contain;
  animation: icon-shake-2 1.25s steps(1) infinite;
}
/*# sourceMappingURL=main.css.map */