.buttons-container {
  position: relative;
  margin: 0 2vmin;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__color-btn {
    position: relative;
  }

  &__input-color {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__btn-svg {
    width: 100%;
    height: auto;
  }

  &__radio-btn-container {
    transition: opacity 0.3s ease-in-out;
  }

  &__radio-btn {
    width: 3vmin;
  }

  & label {
    display: flex;
    align-items: center;

    & h2 {
      margin-left: 4vmin;
    }
  }
}

// HIDE RADIO
[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

// IMAGE STYLES
[type='radio'] + img {
  cursor: pointer;
}

// CHECKED STYLES
[type='radio']:checked + img {
  background-image: url('/images/checked.png');
  background-size: contain;
  animation: icon-shake-2 1.25s steps(1) infinite;
}
