.grid-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__grid {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    height: 90%;
    width: auto;
    background: #fff;
    border: solid var(--color-black);
    border-color: var(--color-black);
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    margin: 0 auto;
    display: grid;
    overflow: hidden;
  }

  &__grid-div {
    border: 1px solid #f3f3f3;
  }

  &__grid-size {
    font-size: 3vmin;
    grid-row: 3 / 4;
    &--left {
      grid-column: 1 / 2;
    }
    &--right {
      grid-column: 3 / 4;
    }
  }
}
