.grid-container {
  // margin: 0 auto;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  // width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__grid {
    width: 30vmin;
    height: 30vmin;
    background: #fff;
    border: solid var(--color-black);
    border-color: var(--color-black);
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(2deg);
    margin: 0 auto;

    @media (min-width: 600px) {
      width: 40vmin;
      height: 40vmin;
    }
    @media (min-width: 800px) {
      width: 55vmin;
      height: 55vmin;
    }

    // opacity: 0;
    // animation: tada 1s ease-in-out forwards 4s;
  }
}
