.container-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    display: block;
    // 2533 x 1889 img dimensions
    width: 100vw;
    height: 74.57vw; // height / width * 100
    max-height: 99vh; // Not 100vh to avoid vertical scroll bars
    max-width: 134.09vh; //  width / height * 100
  }
}

.container {
  position: absolute;
  width: 85%;
  height: 81%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr 3fr 1fr;
}

.title {
  padding-top: 6vmin;
  padding-bottom: 2vmin;
  grid-row: 1 / 1;
  grid-column: 1 / 4;

  &__svg {
    width: 45%;
  }
}
