*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  // max-width: 110rem;
  text-align: center;
  height: 100%;
  // height: 100vh;
  margin: 0 auto;
  font-family: var(--font-primary);
}
